*
{
	padding:0;
	margin:0;
	font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
body
{
	background:#eee;
}
.logo
{
	margin-left:4.9%;
	display: flex;
	flex-direction: column;
	white-space:nowrap;
}
.logo img
{
	width:77px;
}
.explore
{
	text-decoration: none;
	color: #e9e9e9;
	font-size: 11px;
	font-weight: bold;
	line-height:normal;
}
.explore span
{
	color: #fffb04;
}
.explore img
{
	width:10px;
	margin: 0 2px;
}
.explore:hover
{
	text-decoration: underline;
	text-decoration-color:#fff;
}
.header
{
	background:#2874f0;
	padding: 5px 0;
	position: sticky;
	top: 0;
   	z-index: 1;
}
.header_left
{
	background:#2874f0;
	width: 100%;
	overflow-x: scroll;
}
.header_left::-webkit-scrollbar
{
	display: none;
}
.search_bar input
{
	background:none;
	border:none;
	flex: 1;
}
.search_bar input:focus
{
	outline:none;
}
.search_bar
{
	border-radius:2px;
	background:#f8f8f8;
	padding:6px 10px;
	width: 34%;
	margin-left: 10px;
}
.header_links
{
	min-width: 40%;
}
.search_bar img
{
	width:24px;
}
.search_bar input::placeholder
{
	font-size: 13px;
}
.header_links a
{
	text-decoration:none;
	color:#eee;
	font-weight:bold;
}
.account
{
	white-space:nowrap;
}
.header_links img:not(.account_img)
{
	width:20px;
	margin: 0 10px 0 0;
}
.account_img
{
	width:15px;
	transition:100ms ease;
}
.account:hover .account_img
{
	rotate:180deg;
	transition:100ms ease;
}
nav
{
	background-color:#fff;
	overflow-x:scroll;
	padding:8px 30px;
}
nav::-webkit-scrollbar {
  display: none;
}
nav a
{
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#333;
	white-space:nowrap;
	margin:3px 5px;
}
nav a i
{
	font-size:8px;
	color:#aaa;
}
nav a:hover
{
	color:#2874f0;
}
nav a:hover i
{
	color:#2874f0;
	rotate:180deg;
}
.body_left
{
	width:20%;
	border-radius:2px;
}

.body_right
{
	width:79.3%;
	background:#fff;
	border-radius:2px;
}
.filters
{
	background:#fff;
}
.filter_main_heading
{
	font-size:18px;
	font-weight:bold;
	padding:15px;
	color:#444;
	border-bottom:1px solid #eee;
}
.filter_main_heading span
{
	font-size:12px;
	color:#408bff;
}
.filter_categories
{
	font-size:13px;
	padding:17px 15px;
	color:#333;
	border-bottom:1px solid #eee;
}
.filter_categories span
{
	font-weight:bold;
	font-size:12px;
}
.filter_sub_heading span
{
	color:#333;
	font-size:12px;
}
.filter_sub_heading .arrow-up
{
	rotate:180deg;
	width:18px;
	opacity:0.7;
	height: 18px;
}
.filter_sub_heading .arrow-down
{
	width:18px;
	opacity:0.7;
	height: 18px;
}
.category_light
{
	opacity:0.7;
	margin:7px 0;	
}
.category_light img
{
	rotate:90deg;
	width:18px;
	opacity:0.5;
}
.filter-element
{
	font-size:13px;
}
.filter-element img
{
	width:15px;
	opacity:0.7;
}
.need_help
{
	text-decoration:none;
	height:30vh;
}
.need_help_text
{
	font-size:13px;
	color:#444;
}
.body_right_header
{
	border-bottom:1px solid #eee;
	padding:18px 18px 0 18px;
}
.current_location a
{
	font-size:11px;
	color:#999;
	text-decoration:none;
	max-width:90px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.current_location img
{
	rotate:270deg;
	width:12px;
	opacity:0.6;
}

.current_location a:hover
{
	color:#557ffb;
	max-width:fit-content;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.body_right_tags a
{
	font-size:11px;
	text-decoration:none;
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#4892ff;
}
.body_right_tags
{
	font-size:11px;
	overflow:scroll;
	color:#4892ff;
}
.body_right_tags::-webkit-scrollbar
{
	display: none;
}
.list_item_name b
{
	color:#333;
	font-size:15px;
}
.list_item_name span
{
	color:#999;
	font-size:12px;
}
.sort_by
{
	overflow:scroll;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.sort_by::-webkit-scrollbar
{
	display: none;
}
.sort_by b
{
	font-size:14px;
	color:#444;
	margin-right: 7px;
}
.sort_by span:not(.active_sort)
{
	font-size:14px;
	color:#444;
	margin:0px 7px;
}
.active_sort
{
	font-size:14px;
	font-weight:bold;
	color:#2874f0;
	border-bottom:2px solid #2874f0;
	padding-bottom:2px;
	margin:0px 7px;
}
.border_bottom_light
{
	border-bottom: 1px solid #eee;
}
.item_image
{
	width:22%;
	position: relative;
}
.item_image img
{
	width:71%;
}
.item_image i
{
	position: absolute;
	top: 0;
	right: 10px;
	color:#bbb;
	font-size: 14px;
}

.item_description
{
	width:49%;
	padding-left: 5px;
	text-decoration:none;
}
.item_rate
{
	width:29%;
}
.item_image span
{
	font-size:12px;
}
.item_image input
{
	margin-top:0;
}
.list_item
{
	min-height: 47vh;
	text-decoration: none;
	color: unset;
}
.list_item div
{
	cursor: pointer;
}
.list_item:hover .item_name
{
	color: #3c81f0;
}
.item_name
{
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: #242424;
	margin-bottom: 5px;
}
.rating_display img
{
	width: 10px;
}
.rating_display
{
	font-size: 11px;
	font-weight: bold;
	background-color: #017701;
	color: #fff;
	border-radius: 3px;
	width: fit-content;
	padding: 1px 5px;
	margin-bottom: 10px;
}
.item_rating_div span
{
	color: #8d8d8d;
	font-weight: bold;
	font-size: 13px;
}
.item_spec li
{
	color: #3b3b3b;
	font-size: 13px;
}
.item_spec li::marker
{
	color: #bbb;
}
.item_spec
{
	padding-left: 20px;
	line-height:23px;
}
.assured_price img
{
	width: 80px;
}
.assured_price
{
	font-weight: bold;
	font-size: 25px;
}
.orginal_amount
{
	font-size: 14px;
	color: #838383;
	text-decoration: line-through;
}
.offer
{
	font-size: 14px;
	color: #4f8d4f;
	font-weight: bold;
}
.item_rate small
{
	font-size: 11px;
	color: #444;
}
.exchange
{
	font-size: 14px;
}
.exchange span
{
	font-weight: bold;
}
.sale_speciality
{
	margin: 3px 0;
	background-color: #e9deff;
	color: #7048c6;
	width: fit-content;
	font-size: 12px;
	font-weight: bold;
	padding:1px  5px;
	border-radius: 2px;
}




.footer
{
	background-color:#131934;
	color:#fff;
	overflow-x:scroll;
}
.footer-border-left
{
	padding-left:20px;
	border-left:1px solid #777;
}
.footer p
{
	margin-bottom: 0;
}
.footer_top span
{
	color:#999;
	font-size:12px;
	margin-bottom:10px;
}
.footer_top
{
	padding:4% 4% 4% 4%;
}
.footer_top a
{
	color:#eee;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
.footer_top p
{
	color:#eee;
	font-size:12px;
}
.footer_images
{
	width:30%;
}
.footer_images img
{
	width:26px;
		
}
.telephone a
{
	color:#004ab9;
}
.footer_bottom
{
	border-top:1px solid #555;
	padding:25px 4%;
}
.footer_bottom div
{
	font-size:13px;
	color:#ddd;
}
.footer_bottom img
{
	height:3%;
}
.footer_bottom div img
{
	width:15px;
	height:15px;
}

@media (max-width:1115px) {
	.logo
	{
		margin-left: 0;
	}

}
@media (max-width:1024px) {
	.body_right
	{
		width:100%;
	}
	nav
	{
		padding:0 5px;
	}
}
@media (max-width:991px) {

	.footer-border-left 
	{
		padding-left: 0px;
		border-left: none;
	} 
}
@media (max-width:765px) 
{
	.item_image
	{
		width:30%;
	}
	.item_rate
	{
		width:70%;
	}
	.item_description
	{
		display:none;	
	}
}